:root {
  --light_warm: rgb(233, 216, 164);
  --dark_warm: rgb(63, 29, 27);
  --ltsage: rgb(210, 235, 236);
  --sage: rgb(174, 210, 207);
  --mid_sage: rgb(142, 182, 171);
  --dark_sage: rgb(52, 98, 74);
}

* {
  padding: 0;
  margin: 0;
}


p {
font-size: 16px;
line-height: 150%;

}

p2 {
  display: block;
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 100px;
  font-size: 18px;
  line-height: 175%;

  }
  

h2 {
  font-size: 26px;
  line-height: 150%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 900;
  margin: 6px 0 12px 0;
}

.caption {
  font-size: 14px;
  line-height: 150%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 600;
  margin: 2px 0 6px 0;
  color: var(--dark_sage);
  align-self: flex-end;
}

h3 {
  font-size: 18px;
  line-height: 150%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 600;
  margin-bottom: 12px;
}
/*
header {
  padding: 10px;
  text-align: center;
  background: var(--light_warm);
  color: #fff;
} */

nav {
  display: flex;
  background-color: var(--light_warm);
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  overflow: visible;
  padding: 10px;
  max-width: 1600px;
}


#logocorn {
  height: 100px;
}


.overall {
  display: flex;
  max-width: 1600px;
  justify-content: center;

}

a {
  color: var(--dark_sage);
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-left: 10px;
  font-size: 20px;
} 

#quiz {
  margin-left: -10px;
}

.smallsubhead {
  color: var(--dark_warm);
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top:10px;
  margin-bottom:4px;
  font-size: 20px;
}

.logo {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: var(--dark_sage);
  padding-left: 10px;
  font-size: 20px;
}

.left-column-mug {
    display: flex;
    flex: 30%;
    flex-direction: column;
    padding-left: 10px;
    margin-right: 10px;
  
}

.maincontent {
  display: flex;
  flex: 70%;
  
}

.left-column-mug-page {
  display: flex;
  flex: 30%;
  flex-direction: column;
  padding-left: 10px;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 100px;
}

.right-column-main-page {
  display: flex;
  flex: 70%;
  margin-right: 100px;
  flex-direction: column;

}

.mug {
    width: 100%;
} 

/* .horse {
  /* width:600px;} */

.undersection {
  display: flex;
  max-width: 1600px;
}
.openingart {
  padding:20px 0 20px 0;
}

.firstSmallUnderDiv {
  padding:20px;
}

.firstSmallUnderDivlast {
  padding:20px;
}
.lowerleft-column-mug {
  padding: 20px;
  background-color: var(--ltsage);
  display: none;   
}

@media only screen and (max-width: 1000px) {
  body {
    background-color: var(--ltsage);
  }
h2 {
  font-size: 18px;
}
h3 {
  font-size: 14px;
}
.lowerleft-column-mug {
  padding: 20px;
  background-color: var(--ltsage);
  display: none;   
}

@media only screen and (max-width: 890px) {
  body {
    background-color: var(--sage);
  }
h2 {
  font-size: 18px;
}
h3 {
  font-size: 14px;
}
.left-column-mug {
  display: flex;
  flex: 40%;
  flex-direction: column;
  padding-left: 10px;
  margin-right: 10px; 
  display: none;  
}

.lowerleft-column-mug {
  padding: 20px;
  background-color: var(--ltsage); 
  display: block;  
}

.firstSmallUnderDivlast {
  padding:20px;
  display: none;
}


.maincontent {
display: flex;
flex: 45%;

}

@media only screen and (max-width: 600px) {
  body {
    background-color: var(--mid_sage);
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 22px;
  }
.overall {
  flex-wrap: wrap;
}
.undersection {
  display: inline;
}
.firstSmallUnderDivlast {
  padding:20px;
  display: block;
}}}}